{% extends 'base.html' %}

{% block titulo %}
    Dashboard
{% endblock %}

{% block body %}
<div class="card p-4">
    <h1>Dashboard</h1>

    <!-- botão de Logout -->
    <a href="{{ url_for('logout') }}">
        <button type="button" class="btn btn-outline-danger">Logout</button>
    </a>

    <hr>

    <h3>Todas as tarefas</h3>
    <ul>
        {% if todas_tarefas %}
            {% for task in todas_tarefas %}
                <li>{{ task.task_name }} - {{ task.description }} - {{ task.task_status }}</li>
            {% endfor %}
        {% else %}
            <p>Não há tarefas cadastradas.</p>
        {% endif %}
    </ul>

    <a href="{{ url_for('create_task') }}">
        <button type="button" class="btn btn-primary">Criar nova tarefa</button>
    </a>

    <hr>

    <h3>Suas tarefas</h3>
    <table>
        <thead>
            <tr>
                <th style="font-size: 20px; text-align: center;">Nome</th>
                <th style="font-size: 20px; text-align: center;">Descrição</th>
                <th style="font-size: 20px; text-align: center;">Status</th>
                <th style="font-size: 20px; text-align: center;">Ações</th>
            </tr>
        </thead>
        <tbody>
            {% if minhas_tarefas %}
                {% for task in minhas_tarefas %}
                    <tr>
                        <td style="font-size: 16px; text-align: center;">{{ task.task_name }}</td>
                        <td style="font-size: 16px; text-align: center;">{{ task.description }}</td>
                        <td style="font-size: 16px; text-align: center;">{{ task.task_status }}</td>
                        <td>
                            <a href="{{ url_for('edit_task', task_id=task.id) }}">
                                <button type="button" class="btn2">Editar</button>
                            </a>
                            <form action="{{ url_for('delete_task', task_id=task.id) }}" method="POST" style="display:inline;">
                                <button type="submit" onclick="return confirm('Você tem certeza que deseja excluir?')" class="btn2">Excluir</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">Você ainda não criou nenhuma tarefa.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}