{% extends 'base.html' %}

{% block titulo %}
    Editar tarefa
{% endblock %}

{% block body %}

<h2>Editar tarefa</h2>
<hr>

<form method="POST">
    {{ form.hidden_tag() }}

    {{ form.task_name.label(class="form-label") }}
    {{ form.task_name(class="form-control", placeholder="Tarefa...") }}

    <br>
    {{ form.description.label(class="form-label") }}
    {{ form.description(class="form-control", placeholder="Descrição...") }}

    <br>
    {{ form.task_status.label(class="form-label") }}
    {{ form.task_status(class="form-control", placeholder="Status...") }}

    <br>
    {{ form.submit(class="btn btn-primary", value="Salvar alterações") }}

</form>
<br>
<a href="{{ url_for('dashboard') }}">
    <button type="button" class="btn btn-outline-secondary">Cancelar/Voltar</button>
</a>

{% endblock %}
