<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>registrar</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Registrar</h1>
        <form method="POST" action="{{ url_for('register') }}">

            {{ form.hidden_tag() }}
            
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", placeholder="Digite seu nome de usuario") }}
            </div>
            
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", placeholder="Digite sua senha") }}
            </div>
            
            {{ form.submit(class="btn") }}
        </form>
        <a href="{{ url_for('login') }}"  class="btn btn-link">Já tem uma conta? Faça login</a>
    </div>
</body>
</html>